<div class="dashboard-wrapper" [@fadeInUp]>
  <h1>Dashboard Overview</h1>

  <!-- Users Section -->
  <div class="section users-section">
    <h2>Users Overview</h2>

    <div class="cards-container">
      <div class="info-card new-users" [@cardAnimation]>
        <i class="fas fa-user-plus"></i>
        <div class="card-content">
          <h3>{{ statistics.users.new }}</h3>
          <p>New Users (Last Month)</p>
        </div>
      </div>

      <div class="info-card active-users" [@cardAnimation]>
        <i class="fas fa-user-check"></i>
        <div class="card-content">
          <h3>{{ statistics.users.active }}</h3>
          <p>Active Users</p>
        </div>
      </div>

      <div class="info-card sellers" [@cardAnimation]>
        <i class="fas fa-store"></i>
        <div class="card-content">
          <h3>{{ statistics.users.sellers }}</h3>
          <p>Sellers</p>
        </div>
      </div>
    </div>
    <div class="section orders-section">
      <!-- Charts Users Section -->
      <div class="charts-grid">
        <div class="chart-card">
          <h2>User Distribution</h2>
          <ngx-charts-pie-chart
            [results]="usersPieData"
            [gradient]="chartOptions.gradient"
            [animations]="true"
            [scheme]="colorScheme"
            [doughnut]="true"
          >
            <ng-template #tooltipTemplate let-model="model">
              <div class="tooltip-container">
                <div class="tooltip-header">
                  <i class="fas fa-users"></i>
                  <span>{{ model.name }}</span>
                </div>
                <div class="tooltip-content">
                  <div class="tooltip-value">
                    <span>Count:</span>
                    <strong>{{ model.value }}</strong>
                  </div>
                  <div class="tooltip-percentage">
                    <span>Percentage:</span>
                    <strong>{{ calculatePercentage(model.value) }}%</strong>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-charts-pie-chart>
        </div>

        <!-- Orders Section -->
        <h2>Orders Overview</h2>

        <div class="cards-container">
          <div class="info-card pending-orders" [@cardAnimation]>
            <i class="fas fa-clock"></i>
            <div class="card-content">
              <h3>{{ statistics.orders.pending }}</h3>
              <p>Pending Orders</p>
            </div>
          </div>

          <div class="info-card processing-orders" [@cardAnimation]>
            <i class="fas fa-cogs"></i>
            <div class="card-content">
              <h3>{{ statistics.orders.shipped }}</h3>
              <p>Shipped Orders</p>
            </div>
          </div>

          <div class="info-card completed-orders" [@cardAnimation]>
            <i class="fas fa-check-circle"></i>
            <div class="card-content">
              <h3>{{ statistics.orders.completed }}</h3>
              <p>Completed Orders</p>
            </div>
          </div>

          <div class="info-card cancelled-orders" [@cardAnimation]>
            <i class="fas fa-times-circle"></i>
            <div class="card-content">
              <h3>{{ statistics.orders.cancelled }}</h3>
              <p>Cancelled Orders</p>
            </div>
          </div>
        </div>
        <!-- Orders Chart -->
        <div class="chart-card">
          <h2>Orders Status</h2>
          <ngx-charts-bar-vertical
            [results]="ordersBarData"
            [gradient]="chartOptions.gradient"
            [xAxis]="chartOptions.showXAxis"
            [yAxis]="chartOptions.showYAxis"
            [legend]="chartOptions.showLegend"
            [showXAxisLabel]="chartOptions.showXAxisLabel"
            [scheme]="colorScheme"
          >
          </ngx-charts-bar-vertical>
        </div>

        <div class="chart-card">
          <h2>Analytics Orders (Last 6 Months completed Or Cancelled)</h2>
          <ngx-charts-line-chart
            [results]="revenueLineData"
            [gradient]="chartOptions.gradient"
            [xAxis]="chartOptions.showXAxis"
            [yAxis]="chartOptions.showYAxis"
            [legend]="chartOptions.showLegend"
            [showXAxisLabel]="chartOptions.showXAxisLabel"
            [showYAxisLabel]="chartOptions.showYAxisLabel"
            [timeline]="chartOptions.timeline"
            [scheme]="colorScheme"
          >
          </ngx-charts-line-chart>
        </div>

        <!-- Categories Chart -->

        <h2>Categories Overview</h2>
        <div class="categories-grid">
          <ngx-charts-pie-grid
            [view]="[1000, 400]"
            [scheme]="colorScheme"
            [results]="categoriesChartData"
            [designatedTotal]="100"
            [tooltipDisabled]="true"
            [animations]="true"
          >
            <ng-template #valueTemplate let-value="value">
              {{ value }}%
            </ng-template>
            <ng-template #labelTemplate let-data="data">
              <div class="grid-label">
                <div>{{ data.name }}</div>
                <div>Total: {{ data.total }}</div>
              </div>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
      </div>
    </div>
  </div>
</div>
