<header class="animated-header">
  <img src="assets/img/avatar15.png" alt="Avatar" class="avatar" />
  <h1 class="user-name">{{ userName }}</h1>
  <div class="icons">
    <!-- <i class="fas fa-home"></i>
    <i class="fas fa-bell"></i>
    <i class="fas fa-user"></i> -->
  </div>
  <div class="theme-toggle">
    <mat-slide-toggle
      [checked]="isDarkTheme$ | async"
      (change)="toggleTheme()"
      class="theme-toggle-button"
    >
      <i
        class="fas"
        [ngClass]="(isDarkTheme$ | async) ? 'fa-moon' : 'fa-sun'"
      ></i>
    </mat-slide-toggle>
  </div>
  <button class="logout-button" (click)="logout()">Logout</button>
</header>
