<h2 mat-dialog-title class="dialog-title">Edit Product</h2>
<mat-dialog-content class="dialog-content">
  <form class="dialog-form">
    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Product Name (EN)</mat-label>
        <input matInput [(ngModel)]="product.name.en" name="nameEn" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Product Name (AR)</mat-label>
        <input matInput [(ngModel)]="product.name.ar" name="nameAr" required />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="product.price"
          name="price"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Discounts</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="product.discounts"
          name="discounts"
        />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field
        appearance="fill"
        class="full-width"
        *ngIf="product.description"
      >
        <mat-label>Description (EN)</mat-label>
        <textarea
          matInput
          [(ngModel)]="product.description.en"
          name="descriptionEn"
        ></textarea>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        class="full-width"
        *ngIf="product.description"
      >
        <mat-label>Description (AR)</mat-label>
        <textarea
          matInput
          [(ngModel)]="product.description.ar"
          name="descriptionAr"
        ></textarea>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Brand</mat-label>
      <input matInput [(ngModel)]="product.brand" name="brand" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Image URL</mat-label>
      <input matInput [(ngModel)]="product.imageUrls[0]" name="imageUrl" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Stock</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="product.stock"
        name="stock"
        required
      />
    </mat-form-field>

    <div class="form-group">
      <label for="imageUpload">Upload Product Image</label>
      <input
        type="file"
        id="imageUpload"
        (change)="onFileSelected($event)"
        accept="image/*"
        class="form-control"
      />
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="updateProduct()"
    cdkFocusInitial
  >
    Save
  </button>
</mat-dialog-actions>
